<p>Hello <%= @resource.display_name || @resource.email %>!</p>

<p>Welcome to the Brooke &amp; Maisy client portal. Amanda has invited you to access your project updates, designs, and communications in one private space.</p>

<p>Click the link below to set your password and sign in:</p>

<p><%= link_to "Set my password &amp; sign in", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>This link will expire in a few hours for security. If you have any questions, reply to this email or reach Amanda directly.</p>

<p>Thank you,<br>Brooke &amp; Maisy</p>
